/* @import url('https://fonts.googleapis.com/css2?family=Julee&display=swap'); */

/*Base*/

/* * {
  box-sizing: border-box;
} */

html {
  font-size: 62.5%; /*initialise la font à 10px;==> 1,6 rem = 16px*/
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  color: #4d4d4d;
  margin: 0px;
  padding: 0px;
}

/*----- Section HEADER ------*/

.header {
  background: #ffffff;
  box-sizing: border-box;
}

.logo__vero {
  height: 100px;
  width: 100px;
  filter: drop-shadow(#000 2px 1px 10px);
}

.header .header__item_left {
  height: 100px;
}

.header .header__item_center {
  font-family: "Julee", cursive;
  letter-spacing: 3rem;
  font-size: 4rem;
  color: #fff;
  font-style: italic;
  text-shadow: #000 4px 2px 10px;
}

.socials {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  padding: 0 0.5rem;
}

/*----Fin de section HEADER ----*/

/*------ BARRE DE NAVIGATION: NAV_BAR ------*/
.container_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 120px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-image: url(/img/banière.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  border-top: 2px solid #2a2420;
  border-bottom: 2px solid #2a2420;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: #f28705;
}

nav > ul > li > a {
  padding: 1.5rem 3rem;
  display: inline-block;
  color: #2a2420;
  text-decoration: none;
}

nav > ul > li:hover a {
  padding: 1rem 3rem 1.5rem 3rem;
  background-color: rgb(242, 211, 153, 0.2);
  border-top: 5px solid #2a2420;
}
.nav_bar {
  font-family: "Yrsa", serif;
  font-weight: bolder;
}

.list-unstyled {
  list-style: none;
}

/*------ FIN DE NAV_BAR -------*/

@media screen and (min-width: 750px) {
  .container_1 {
    margin: 0 auto;
    padding: 2rem;
  }
  .container {
    margin: 0 auto;
    padding: 2rem;
  }
}

.section-title {
  font-family: "Yrsa", serif;
  font-size: 4rem;
  color: #000;
  border-bottom: 1px solid;
}

.title {
  font-family: "Yrsa", serif;
  color: #000;
}

.about .container {
  text-align: justify;
  line-height: 3rem;
}

/* .galerie .container {
  text-align: justify;
} */

.galerie_tableaux{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
}

figure {
  border: thin #c0c0c0 solid;
  flex-flow: column;
  padding: 0.5rem;
  max-width: 250px;
  margin: 1rem 1rem;
  background-color: #fff;
  float: left;
}

img {
  max-height: 300px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

p {
  margin-block-end: 0.3em;
  margin-block-start: 0.3em;
}

