/* @import url('https://fonts.googleapis.com/css2?family=Julee&display=swap'); */

/*Base*/

/* * {
  box-sizing: border-box;
} */

html {
  font-size: 62.5%; /*initialise la font à 10px;==> 1,6 rem = 16px*/
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  color: #4d4d4d;
  margin: 0px;
  padding: 0px;
}

/*----- Section HEADER ------*/

.header {
  background: #ffffff;
  box-sizing: border-box;
}

.logo__vero {
  height: 150px;
  width: 150px;
  filter: drop-shadow(#000 2px 1px 10px);
}

.header .header__item_left { 
  width:150px;
  height: 150px;
}

.header{
  font-family: "Julee", cursive;
  margin: 0px 0px;
  letter-spacing: 3rem;
  font-size: 4rem;
  color: #fff;
  font-style: italic;
  text-shadow: #000 4px 2px 10px;
  
}

.header .titre{
  margin: 0px 0px;
}

.container_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  max-width: 1200px;
  height: 190px;
  padding: 2rem;
  margin: 0px auto;
  background-image: url(/img/banière.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
/*----Fin de section HEADER ----*/


/*------ BARRE DE NAVIGATION: NAV_BAR ------*/

nav {
  max-width: 1200px;
  border-top: 2px solid #2a2420;
  border-bottom: 2px solid #2a2420;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: #f28705;
}

nav > ul > li > a {
  padding: 1.5rem 3rem;
  display: inline-block;
  color: #2a2420;
  text-decoration: none;
}

nav > ul > li:hover a {
  padding: 1rem 3rem 1.5rem 3rem;
  background-color: rgb(242, 211, 153, 0.2);
  border-top: 5px solid #2a2420;
}
.nav_bar {
  font-family: "Yrsa", serif;
  font-weight: bolder;
  margin: 0 auto;
}

.list-unstyled {
  list-style: none;
}
/*------ FIN DE NAV_BAR -------*/


/*----------CORPS DE LA PAGE WEB----------*/
.section-title {
  font-family: "Yrsa", serif;
  font-size: 4rem;
  color: #000;
  border-bottom: 1px solid;
}

.title {
  font-family: "Yrsa", serif;
  color: #000;
}

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0px auto;
  text-align: justify;
  line-height: 2rem;
}

.container_tableaux{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
  max-width: 1200px;
  margin: 0px auto;
}

figure {
  border: thin #c0c0c0 solid;
  flex-flow: column;
  padding: 0.5rem;
  max-width: 250px;
  margin: 1rem 1rem;
  background-color: #fff;
  float: left;
}

img {
  max-height: 300px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

p {
  margin-block-end: 0.3em;
  margin-block-start: 0.3em;
}

/*-------DEBUT DU MEDIA SCREEN---------*/
@media screen and (max-width: 750px) {
  .container_1 {
    height: 140px;
    margin: 0 auto;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
  }
  .container {
    border: 1px solid;
    
  }

  p{
    font-family: "Yrsa", serif;
    font-size: 1.7rem;
    line-height: 1.5rem;
  }

  .header{
    height: 140px;
    margin: 5px 5px 0px;
  }

  ul{
    flex-direction: column;
    align-items: center;
  }

  .logo__vero{
    width: 75px;
    height: 75px;
  }

  .header .header__item_center {
    width: auto;
    font-family: "Julee", cursive;
    letter-spacing: 1.5rem;
    font-size: 2rem;
    color: #fff;
    font-style: italic;
    text-shadow: #000 4px 2px 10px;
  }

  .header .header__item_left { 
    width: 75px;
    height: 75px;
  }
  nav > ul > li > a{
    padding: 5px 0px;
  }

  .nav_bar{
    margin: 0px 5px;
  }
}
/*------FIN DU MEDIA SCREEN-------------*/
